body
{
    height: 100vh;
    width: 100%;
    background-color: #F4F6F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

*
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container
{
    display: flex;
    align-items: center;
    width: 80%;
}

.header
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 400px;
    margin: 15px 20px 20px;
}

.main
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1,h2,p
{
    color: #212A3E;
}

.shadows
{
    background-color: #D3D8E1;
}

a:link,
a:visited,
a:hover,
a:active
{
  text-decoration: none;
}

.main-button
{
    margin: auto 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    background: #4fbed1;
    color: #212A3E;
    font-size: 16px;
    /* background: linear-gradient(0deg, rgb(221 221 221) 0%, rgb(229 233 231) 50%, rgb(213 213 213) 100%); */
}

.main-button:hover
{
    background: #44a1b8;
    /* background: linear-gradient(0deg, rgb(221 221 221) 0%, rgb(229 233 231) 50%, rgb(213 213 213) 100%); */
    transition: all 0.2s;
}

.item
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;

    /* overflow: hidden;
    flex-shrink: 0; */

    width: 270px;
    height: 270px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;  

    background: rgb(221 221 221);
    background: linear-gradient(0deg, rgb(232 230 230) 0%, rgb(229 233 231) 50%, rgb(222 222 222) 100%);
    /* box-shadow: 3px 3px 5px rgb(187, 183, 183), 3px 3px 5px rgb(34, 31, 31) inset; */
    box-shadow: 0px 3px 7px rgb(187, 183, 183);
}

.item_name
{
    height: 65px;
    padding-top: 10px;
    flex-grow: 0;
}

.item_price
{
    width: 65%;
    padding-top: 5px;
    border-top: 1px solid #212A3E;
}

.item > *
{
    overflow-wrap: break-word;
    max-width: 100%;
}

.footer
{
    justify-content: center;
    gap: 25px;

    p 
    {
        font-size: 10px;
    }
}